footer {
    background-color: black;
    height: 10vh;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:small;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}