.results-container {
  border: 1px solid black;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 40%;
  margin: 20px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 6px;
}

p {
  font-weight: 300;
  font-size: medium;
}

h2 {
  font-weight: 400;
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  background-color: #0d6efd;
  color: white;
}
.label-container {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
