.started-container {
    display: flex;
    justify-content:center;
    /* align-items: center; */
    padding: 20px;
    height: 75vh;
}

.last-cycle {
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    margin-right: 10px;
    height: 30vh;
}

.additional-details {
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    margin-left: 10px;
    height: 30vh;
}
.bleed-btn {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 4px;
}