nav { 
  background-color: #36C9B5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  padding-right: 20px;
}

nav > ul {
  display: flex;
  justify-content:space-between;

  width: 30%;
}

nav > ul > li{
  list-style: none;
}